<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
    <nav>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="work">Work</a></li>
        </ul>
    </nav>
    <h3>What Kitty's have done</h3>
    <article>
        <h4>Some exemples</h4>
        <ol>
            <li>Messing the paper toilet</li>
            <li>Sleep</li>
            <li>Do nothing</li>
            <li>Sleep Again</li>
            <li>Have a nap on my computer</li>
            <li>Playing with my socks</li>
            <li>Just watch the mouse go around the house</li>
            <li>Eat</li>
            <li>Sleep</li>
            <li>Eat Again</li>
        </ol>
        # repeat
        
    </article>
</div>

</body>
</html>